body{
    background: rgb(182,172,50);
    background: linear-gradient(260deg, rgba(182,172,50,1) 20%, rgba(252,5,5,1) 39%, rgba(78,162,102,1) 60%, rgba(6,82,240,1) 80%, rgba(248,0,255,1) 100%);
}
#head{
    color: aliceblue;
}